* {
  margin: 0;
  padding: 0;
}

.first,
.third {
  height: 40vh;
  width: 25vw;
  display: inline-block;
  background-color: red;
}
.second,
.fourth {
  height: 40vh;
  width: 60vw;
  display: inline-block;
  background-color: red;
}

.second,
.fourth {
  margin-left: 14vw;
}
.third,
.fourth {
  margin-top: 20vh;
}
.fourth {
}
